.title {
  background-color: #d9d9d9;
  height: 4rem;
  box-shadow: 0 4px 4px #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  z-index: 999;
}
.title h1 {
  color: #1f3159;
}
