.sign-up-input-container {
  width: 100%;
  overflow: hidden;
}
.sign-up-input-container > div {
  transition: all ease 0.5s;
}
.sign-up-input-container > div:has(.next-checkbox:checked) {
  translate: -50%;
}
.sign-up-input-container .sign-up-input-wrapper {
  width: 200%;
  display: flex;
}
.sign-up-page-1,
.sign-up-page-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stan-name-input,
.phone-number-input {
  height: 2.5rem;
  width: 100%;
  outline: none;
  border: 2px solid #ccc;
  padding-left: 20px;
  transition: all ease 0.5s;
  margin-bottom: 1rem;
}
.back-button {
  height: 2.5rem;
  width: 3rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  padding-inline: 1rem;
}
.next-checkbox {
  display: none;
}
.sign-up-password-alert {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #25252520;
}
.sign-up-password-alert > span {
  font-size: 12px;
}
.red-alert {
  background-color: #94001920;
}
.yellow-alert {
  background-color: #ec990020;
}
.green-alert {
  background-color: #00800020;
}
.red-alert > span,
.red-alert > svg > path {
  color: #940019;
}
.yellow-alert > span,
.yellow-alert > svg > path {
  color: #ec9900;
}
.green-alert > span,
.green-alert > svg > path {
  color: green;
}
